---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Tag from "@components/Tag";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getTagsDB } from "@utils/tags";
import { getCollection } from "astro:content";

const posts = await getCollection("post");
const tags_db = getTagsDB(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle="Tags"
    pageDesc="All the tags used in posts."
    breadcrumbProps={{ context: "tags" }}
  >
    <ul class="tags-container">
      {tags_db.tags.map((tag) => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
